.odd{
    background-color: rgb(255, 167, 167);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#no-2 {
    color: blue;
    font-size: 36px;
}
#no-3 {
    font-size: 24px;
}
#no-4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}